@font-face {
   font-family: 'ico_third_block';
    src: url('../fonts/ico_third_block.ttf?3ipilq') format('truetype'),
    url('../fonts/ico_third_block.woff?3ipilq') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico_third_block' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appliances:before {
  content: "\e90a";
  
}
.icon-cart:before {
  content: "\e90b";
  
}
.icon-check-mark:before {
  content: "\e90c";
  
}
.icon-coordinates:before {
  content: "\e90d";
  
}
.icon-diamond:before {
  content: "\e90e";
  
}
.icon-hand:before {
  content: "\e90f";
  
}
.icon-lamp:before {
  content: "\e910";
  
}
.icon-man:before {
  content: "\e911";
  
}
.icon-quotes:before {
  content: "\e912";
  
}
.icon-suitcase:before {
  content: "\e913";
  
}
.icon-fifitLayer1:before {
  content: "\e909";

}
.icon-1:before {
  content: "\e900";
  
}
.icon-2:before {
  content: "\e901";
  
}
.icon-3:before {
  content: "\e902";
  
}
.icon-4:before {
  content: "\e903";
  
}
.icon-5:before {
  content: "\e904";
  
}
.icon-6:before {
  content: "\e905";
  
}
.icon-7:before {
  content: "\e906";
  
}
.icon-8:before {
  content: "\e907";
  
}
.icon-9:before {
  content: "\e908";
  
}
