@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i');
body{
	color:#777;
	font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.row{
	margin: 0;
}
.mini-block-wrapper{
	/*max-width: 1170px;*/
	width:62%;
	margin: 0 auto;
	overflow: hidden;
}
.card, .card-img{
	border:none;
	border-radius: 0;
}
.my-icon{
	padding-right: 20px;
	color: #18cfab;
}
.jumbotron{
	margin-bottom: 0;
}

/* HEADER */

header .navbar{
	background-color: rgba(0,0,0,.5);
	padding: 0;
	overflow: hidden;
	/*min-height: 123px;*/
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.navbar-expand-xl > .container{
	padding: 0 15px;
}
header .navbar-brand{
	padding: 0;
}
header .navbar-brand img{
	height: 67px;
	margin: 28px 0;
}
header #navbarNav{
	float: right;
}
header #navbarNav .nav-link{
	padding: 39px 0;
	margin: 0 10px;
	font-size: 13px;
	color: #b8b8b8;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 3.231;
}
header #navbarNav .nav-link:hover{
	border-bottom: 1px solid #18cfab;
	color: #18cfab;
}
header .nav-scroll{
	background-color: rgba(0,0,0,.9);
}

 /* END HEADER */


 /* MAIN SLIDER */

 .main-slider{
	 border:none;
	 border-radius: 0;
 }
.camera_amber_skin .slide-text .hight-light{
	color: #18cfab;
}
.cameraContent .slide-text p {
	font-size: 34px;
	font-weight: 300;
	color: #d4d4d4;
	line-height: 84.24px;
}
.cameraContent .slide-text h5{
	font-size: 35px;
	color: #fff;
	
}
.cameraContent .slide-text h1{
	font-size: 79px;
	color: #fff;
	line-height: 84.24px;
}
.cameraContent .slide-text .button-wrap{
	position: relative;
	bottom: -50px;
}
.button-wrap .btn{
	font-size: 14px;
	/* line-height: 31.83px; */
	font-weight: bold;
	border:none;
	border-top:5px solid #fff;
	color: #fff;
	background:#18cfab;
	margin: 0 15px;
	padding: 20px;
}
.button-wrap .btn:hover{
	background:#00cbf6;
}

 /* END MAIN SLIDER */


 /*TITLE BLOCK*/

 .title-block{
	 display: inline-block;
 }
.title-block h2{
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 30px;
	margin-top: 90px;
}
.title-block .line{
	border-bottom: 1px solid #18cfab;
	width: 76px;
	margin: 3px auto;
}
.title-block .line-space{
	transform: translateX(12px);
}

/*END TITLE BLOCK*/


/*SECOND BLOCK*/

.four-card{
	padding: 0;
}
.four-card .my-icon{
	font-size: 80px;
	padding: 0;
}
.four-card h5{
	margin-top: 30px;
}
.four-card div[class*=col]{
	font-size: 20px;
	padding: 80px 0;
}
.four-card div[class*=col]:nth-child(2n+1){
	border-top:6px solid #18cfab;
	background-color: #1c2a33;
	color: #18cfab;
}
.four-card div[class*=col]:nth-child(2n){
	border-top:6px solid #fff;
	background-color: #18cfab;
	color: #fff;
}
.four-card div[class*=col]:nth-child(2n) .my-icon{
	color: #fff;
}

/*END SECOND BLOCK*/


/*THIRD BLOCK*/
.thirdBlock .dataBlock div[class*=col]{
	margin-bottom: 60px;
}
.thirdBlock .dataBlock h4{
	font-size: 18px;
	line-height: 40px;
}
.thirdBlock .dataBlock h4 a{
	color: #777;
}
.thirdBlock .dataBlock h4 a:hover{
	color: #18cfab;
	text-decoration: none;
}
.thirdBlock .my-icon{
	font-size: 24px;
	display: block;
	padding-top: 7px;
	float:left;
}
.thirdBlock .dataBlock p{
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
}

/*END THIRD BLOCK*/


/*FOURTH BLOCK*/
.fourthBlock {
	margin-top: 40px;
	border: none;
}
.fourthBlock .card-img, .seventhBlock .card-img {
	width: auto;
	height: 100%;
}
.tabs-block{
	margin-top: 60px;
}
.tabs-block .nav.nav-pills{
	margin-bottom: 30px;
}
.tabs-block .nav-pills .nav-link {
	border-radius: 0;
	color: #fff;
	line-height:42px;
	padding: 0;
	margin: 0 1rem;
}
.tabs-block .nav-pills .nav-link:first-child {
	margin-left: 0;
}
.tabs-block .nav-pills .nav-link.active{
	color: #18cfab;
	border-top: 2px solid #18cfab;
	background-color: transparent;
}
.tabs-block .nav-pills .nav-link:hover{
	color: #18cfab;
}
.tabs-block .progress{
	height: 40px;
	margin-bottom: 14px;
	background-color: inherit;
	border: 1px solid #959595;
}
.tabs-block .progress-bar {
	text-align: left;
	background-color: #9c5da5;
	padding-left: 20px;
	font-size: 13px;
	text-transform: uppercase;
}
.tabs-block .progress.progBar-1 .progress-bar{
	width:72%;
}
.tabs-block .progress.progBar-2 .progress-bar{
	background-color: #11b0de;
	width:85%
}
.tabs-block .progress.progBar-3 .progress-bar{
	background-color: #d67f7f;
	width:67%
}
.tabs-block .progress.progBar-4 .progress-bar{
	background-color: #20bc9d;
	width:90%
}
.tabs-block .progress.progBar-5 .progress-bar{
	background-color: #bb8a36;
	width:85%
}
/*END FOURTH BLOCK*/


/*FIFTH BLOCK*/

.fifthBlock{
	padding-bottom: 100px;
	background: #f8fcfe;
}
.filter-btn button{
	padding: 0;
	background: #fff;
	border-radius: 0;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	margin:10px -3px;
	border: 1px solid #ebebeb;
}
.filter-btn button:first-child{
	border-left: 1px solid #ebebeb;
	padding: 20px 30px;
}
.filter-btn button:hover{
	color: #18cfab;
	border-top: 1px solid #18cfab;
}
.filter-btn button:focus {
	outline: 0;
	box-shadow: none;
}
.fifthBlock .dataBlock div[class*=col]{
	padding: 0;
}

.fifthBlock .hover-layer{
	position: absolute;
	/*visibility: hidden;*/
	border-top: 2px solid #18cfab;
	background: #fff;
	z-index:999;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	padding-top:30px; 
}
.fifthBlock div[class*=col]:hover .hover-layer {
	visibility: visible;
}
.fifthBlock .hover-layer {
	visibility: hidden;
}
.fifthBlock .hover-layer h5{
	font-size: 14px;
	padding-top: 25px;
	margin-bottom: 0.2rem;
}
.fifthBlock .hover-layer p{
	font-size: 12px;
	font-weight: 300;
}
.fifthBlock .hover-layer i{
	display: inline-block;
	padding: 15px;
	border: 1px solid #18cfab;
	color:#18cfab;
	border-radius: 50%;
	font-size: 13px;
}
.fifthBlock .hover-layer i:nth-child(2){
	background: #18cfab;
	color:#fff;
}
/*END FIFTH BLOCK*/


/*END SIXTH BLOCK*/

.sixthBlock{
	padding-bottom: 100px;
}
.sixthBlock .tabs-block{
	margin-top: 0;
}
.sixthBlock nav a{
	background: #f8fcfe;
	border: 1px solid #ebebeb;
	border-radius: 0;
	text-align: center;
	color: #777;
	padding: 20px 0;
}
.sixthBlock nav a:hover{
	color: #fff;
	background: #18cfab;
}
.sixthBlock nav .nav .active{
	color: #fff;
	background: #18cfab;
}

.sixthBlock nav .nav .active::after {
	content: '';
	z-index: 1000;
	position: absolute;
	left: calc(50% - 15px);
	bottom: -30px;
	border: 15px solid transparent;
	border-top: 15px solid #18cfab;
}
.sixthBlock .tab-pane{
	margin-top: 24px;
	font-size: 14px;
font-weight: 300;
}
.sixthBlock .tab-pane div[class*=col]{
	padding: 0;
}
.sixthBlock .tab-pane div[class*=col]:last-child{
	padding-left: 15px;
}

/*END SIXTH BLOCK*/


/* SEVENTH BLOCK*/
.seventhBlock h2{
	text-transform: uppercase;
	font-size: 40px;
	color: #18cfab;
	margin:120px 0 35px 0;
}
.seventhBlock p{
	font-size: 16px;
	color: #d8d8d8;
	margin-bottom:70px;
}

/*END SEVENTH BLOCK*/


/* EIGHTH BLOCK*/

.eighthBlock{
	margin-bottom: 100px; 
}
.eighthBlock .caption-post-eighth{
	border: 1px solid #ebebeb;
	background: #f8fcfe;
	padding:0 10px;
}
.eighthBlock .caption-post-eighth h5{
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 0.5rem;
}
.eighthBlock .caption-post-eighth .separator{
	padding: 10px;
}
.eighthBlock div[class*=col]:hover .caption-post-eighth h5{
	color: #18cfab;
}
.eighthBlock div[class*=col]:hover .post-date{
	background: #18cfab;
}
.eighthBlock .post-date{
	display: inline-block;
	padding:10px 15px;
	background: #203e38;
	color: #fff;
	position: absolute;
	top:0;
	right:15px;
}

/*END EIGHTH BLOCK*/


/*NINTH BLOCK*/
.ninthBlock .row div[class*="col"]{
	color: #fff;
}
.ninthBlock div[class*="col"]:nth-child(2n) {
	border-top: 6px solid #25333c;
}
.ninthBlock .ninthBlockIcon{
	display: inline-block;
	background: #25333c;
	border: 1px solid #18cfab;
	border-radius: 50%;
}
.ninthBlock .ninthBlockIcon i{
	display: inline-block;
	margin:25px;
	padding:30px;
	border-radius: 50%;
	background: #18cfab;
	color: #fff ;
}
.ninthBlock .ninthBlockIcon i{
	font-size: 30px;
}
.ninthBlock h2{
	margin-top: 16px;
}
.ninthBlock p{
	font-size: 1rem;
	color: #18cfab;
	margin-bottom: 0; 
}
.ninthBlock div[class*="col"]:nth-child(2n) .ninthBlockIcon{
	background: #18cfab;
	border: 1px solid #25333c;
}
.ninthBlock div[class*="col"]:nth-child(2n) .ninthBlockIcon i{
	background: #25333c;
}
.ninthBlock div[class*="col"]:nth-child(2n) p{
	color: #25333c;
}
/*END NINTH BLOCK*/


/*TENTH BLOCK*/
.tenthBlock .dataBlock div[class*=col]{
	padding: 0;
	border: 1px solid #ebebeb;
	background: #f8fcfe;
	border-radius: .25rem;
}
.tenthBlock .dataBlock div[class*=col]:hover{
	box-shadow: 0 2px 20px rgba(0,0,0,0.2);
	transition: all 0.2s cubic-bezier(0.02, 0.22, 0.7, 1.98) 0s;
	z-index: 100;
}
.tenthBlock .dataBlock div[class*=col]:hover h3{
	color: #18cfab;
}
.tenthBlock .dataBlock div[class*=col]:hover h2, .tenthBlock .dataBlock div[class*=col]:hover button, .tenthBlock .dataBlock div[class*=col]:hover .offer{
	background: #18cfab;
}
.tenthBlock .dataBlock h3{
	border-bottom:1px solid #ebebeb;
	font-size: 24px;
	padding: 20px;
	margin: 0;
	position: relative;
	overflow: hidden;
}
.tenthBlock .dataBlock h2{
	font-size: 39px;
	padding: 30px;
	background: #2e4a5b;
	color: #fff;
	margin: 0;
	margin-bottom: 7px;
}
.tenthBlock .dataBlock h2 span{
	font-size: 14px;
	font-weight: 300;
}
.tenthBlock .dataBlock p{
	border:1px solid #ebebeb;
	font-size: 14px;
	padding: 20px 0 14px 0;
	margin: 0;
}
.tenthBlock .dataBlock button{
	font-size: 14px;
	font-weight: bold;
	background: #2e4a5b;
	padding:20px 50px;
	color: #fff;
	margin-bottom: 14px;
}
.tenthBlock .dataBlock .offer{
	font-size: 14px;
	font-weight:400;
	background: #2e4a5b;
	padding: 2px 20px;
	color: #fff;
	position: absolute;
	transform: rotateZ(45deg);
	right:-23px;
	top:10px;
}
/*END TENTH BLOCK*/


/*ELEVENTH BLOCK*/
.EleventhBlock{
	padding-bottom: 100px;
}
.slider-eleventh-block{
	margin-top: 65px;
}
.slider-eleventh-block .my-icon{
	font-size: 50px;
}
.slider-eleventh-block .author {
	color: #18cfab;
	font-size: 16px;
	font-weight: bold;
	margin: 40px 0 5px 0;
	text-transform: uppercase;
}
.occupation {
	padding-top: 0;
	font-size:13px;
}
.slider-eleventh-block .slick-slide img{
	margin: 40px auto 5px auto;
	border-radius: 50%;
	border: 1px solid #18cfab;
	box-shadow: 0 0 0 5px rgba(24, 207, 171,0.2);
}
.slider-eleventh-block .slick-prev, .slider-eleventh-block .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	bottom: 10px;
	display: block;
	width: 50px;
	height: 50px;
	padding: 0;
	cursor: pointer;
	color: #ebebeb;
	border: 1px solid #ebebeb;
	outline: none;
	background-color:transparent;
}
.slider-eleventh-block .slick-prev {
	left: calc(50% - 250px);
	background: url("../images/slide_prev_next.svg") no-repeat;
	background-size: 45px;
}
.slider-eleventh-block .slick-next {
	right: calc(50% - 250px);
	background: url("../images/slide_prev_next.svg") no-repeat;
	background-size: 45px;
	transform: scale(-1, 1);
}
.slider-eleventh-block .slick-next:hover, .slider-eleventh-block .slick-prev:hover{
	background: url("../images/slide_prev_next.svg") no-repeat #18cfab;
	background-size: 45px;
	border: 1px solid #18cfab;
}
.nav-slider-eleventh {
	display: block;
	width: 100%;
	padding: 0;
	margin: 50px 0 0 0;
	list-style: none;
	text-align: center;
}
.nav-slider-eleventh li {
	position: relative;
	display: inline-block;
	margin:20px 20px 0 20px;
	padding: 0;
	cursor: pointer;
	border-radius: 50%;
}
.nav-slider-eleventh li.slick-active{
	margin-top: 0;
	top:-20px;
}
.nav-slider-eleventh li button{
	background-size: 100%;
	object-fit: cover;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid rgba(24, 207, 171,0.2);
	box-shadow: 0 0 0 5px rgba(24, 207, 171,0.2);
}
.nav-slider-eleventh li.slick-active button{
	border: 1px solid #18cfab;
}
#slick-slide-control00{
	background-image: url(../images/testi-1.jpg);
}
#slick-slide-control01{
	background-image: url(../images/testi-2.jpg);
}
#slick-slide-control02{
	background-image: url(../images/testi-3.jpg);
}

/*END ELEVENTH BLOCK*/


/*TWELFTH BLOCK*/
.twelfthBlock .dataBlock div[class*=col] .wrap-twelfth-block{
	background: #2e4a5b ;
}
.twelfthBlock .dataBlock div[class*=col]:hover .wrap-twelfth-block{
	background: #18cfab;
}
.twelfthBlock .dataBlock div[class*=col]:hover .twelfth-block-hover{
	visibility: visible;
}
.twelfthBlock .dataBlock div[class*=col]:hover p{
	color: #2e4a5b;
}
.dataBlock .wrap-img-hover{
	position: relative;
}
.twelfth-block-hover{
	visibility: hidden;
	position: absolute;
	background: rgba(46,74,91, 0.5);
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	vertical-align: middle;
	padding-top: calc(50% - 45px) 
}
.twelfth-block-hover .ninthBlockIcon{
	border: 2px solid #18cfab;
	background-color: transparent;
	display: inline-block;
	padding: 5px;
	border-radius: 50%;
}
.twelfth-block-hover .ninthBlockIcon a{
	padding: 20px;
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	color:#18cfab;
	font-size: 20px;
}
.twelfth-block-hover .ninthBlockIcon a:hover{
	text-decoration: none;
}
.dataBlock .caption-post-eighth{
	padding: 20px;
}
.dataBlock .caption-post-eighth h5{
	color:#fff;
	font-size: 16px;
}
.dataBlock .caption-post-eighth p{
	color:#18cfab;
	font-size: 13px;
	margin-bottom: 0;
}
.twelfth-block-social a[class*=col]{
	border: 1px solid #fff;
	color: #fff;
	padding: 20px 0;
	border-right: none;
}
.twelfth-block-social a[class*=col]:first-child{
	border-left: none;
}

/*END TWELFTH BLOCK*/